*{
    padding: 0px;
    margin: 0px;
}
.con{
    height: 100vh;
  
    
    background-image:linear-gradient(to right,wheat, lightblue, lightpink); 
}
.a,.b{
    margin: 20px;
    padding: 20px;
}